main {
  padding: 2em;
}

.unauthorized form {
  max-width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.unauthorized form > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1em;
}

.error {
  grid-column: span 2;
  border: 1px solid red;
  padding: 0.5em;
  border-radius: 5px;
}

.unauthorized form div input[type='submit'] {
  grid-column-start: 2;
}
