header {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
}

header a {
  color: var(--accent-color);
  text-decoration: none;
}

header a.active {
  text-decoration: underline;
}

.router-outlet {
  min-height: 70vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 0.5em 1em;
}

footer span {
  margin-left: 1em;
}

footer a {
  color: var(--accent-color);
}

header nav {
  display: flex;
  gap: 1em;
}
