<header>
  <h1><a routerLink="/">JWT Authorization Example</a></h1>
  <nav>
    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
    >Start</a>
    <a *ngIf="canAccessUsers()" routerLink="/users" routerLinkActive="active">Users</a>
    <a *ngIf="canAccessItems()" routerLink="/items" routerLinkActive="active">Items</a>
  </nav>
</header>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>
<footer>{{ getUsername() ?? 'Not Logged In' }} <span *ngIf="getUsername()"><a href="#" (click)="logout()">Logout</a></span></footer>
